.sidebar {
  background-color: #212529;
  color: white;

  .brand {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    height: 10%;
    h2 {
      font-weight: 900;
      letter-spacing: 0.3vw;
      span {
        color: #c70f61;
        font-weight: 900;
      }
    }
  }
  .links {
    li {
      list-style-type: none;
      margin: 0 auto;
      width: 75%;
      margin-top: 2rem;
      &:nth-of-type(1) {
        a {
          color: #c70f61;
        }
      }
      a {
        color: white;
        text-transform: uppercase;
        text-decoration: none;
        display: flex;
        gap: 0.7rem; // 网格行与列之间的间隙 gutters
        transition: 0.5s ease-in-out;
        &:hover{
          color: #c70f61;
        }
      }
    }
  }
}